<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.vitorgalvao.alfred.useclear</string>
	<key>connections</key>
	<dict>
		<key>1B8C4472-9271-459C-95F8-A7804A553C94</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>602339E1-A9AF-441A-8166-C8090D994675</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1BE15640-11CA-4008-8DF8-A553E788486F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9E329E2C-A574-4B8B-84FB-8B861F9273F1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>28560F2D-FE36-43D5-B732-2D927478AFDA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CD6DC76D-10DE-4799-85AF-82A857A7A776</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>602339E1-A9AF-441A-8166-C8090D994675</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8BA754B9-49E0-4677-9955-0849C33BD566</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>726C988E-DE58-4C3C-BC39-BBAEED541D7B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>948702E1-8614-456F-AE40-93FD8AA99094</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>72C34EA8-1B15-4CFE-AE5A-C62FB1AA4D55</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>65FDABDE-2353-40F0-AE91-9E03B6128789</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>91ADC315-DD75-4B90-B6E7-A8E6BAAD0013</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9E329E2C-A574-4B8B-84FB-8B861F9273F1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B81F57B4-9C53-4127-A977-372774C9FA16</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>28560F2D-FE36-43D5-B732-2D927478AFDA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>72C34EA8-1B15-4CFE-AE5A-C62FB1AA4D55</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BC5FB417-B8D7-4257-88B8-BD5F270FF1ED</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>91ADC315-DD75-4B90-B6E7-A8E6BAAD0013</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CD6DC76D-10DE-4799-85AF-82A857A7A776</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F248B066-17F0-42EE-8A40-AC899C1F2B4D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DA40D015-AAC5-4812-9D2F-EB07C8E0F436</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1BE15640-11CA-4008-8DF8-A553E788486F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F248B066-17F0-42EE-8A40-AC899C1F2B4D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>726C988E-DE58-4C3C-BC39-BBAEED541D7B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1B8C4472-9271-459C-95F8-A7804A553C94</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Interact with Clear’s lists</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>UseClear</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<false/>
				<key>filetypes</key>
				<array>
					<string>public.plain-text</string>
				</array>
				<key>name</key>
				<string>Add as Clear list</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>DA40D015-AAC5-4812-9D2F-EB07C8E0F436</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>cat "${1}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1BE15640-11CA-4008-8DF8-A553E788486F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>require "#{Dir.pwd}/useclear_functions.rb"

new_list(ARGV[0])</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9E329E2C-A574-4B8B-84FB-8B861F9273F1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>pbpaste</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>91ADC315-DD75-4B90-B6E7-A8E6BAAD0013</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>cadd</string>
				<key>subtext</key>
				<string>Makes a new list from clipboard contents</string>
				<key>text</key>
				<string>Create list</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BC5FB417-B8D7-4257-88B8-BD5F270FF1ED</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>clist</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Getting lists…</string>
				<key>script</key>
				<string>require "#{Dir.pwd}/useclear_functions.rb"

pick_list</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Manage lists and specific items</string>
				<key>title</key>
				<string>View list</string>
				<key>type</key>
				<integer>2</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B81F57B4-9C53-4127-A977-372774C9FA16</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>require "#{Dir.pwd}/useclear_functions.rb"

delete_from_list(ENV['list_name'], ARGV[0])</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>948702E1-8614-456F-AE40-93FD8AA99094</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>require "#{Dir.pwd}/useclear_functions.rb"

view_list(ENV['list_name'])</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F248B066-17F0-42EE-8A40-AC899C1F2B4D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:action}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>delete</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>28560F2D-FE36-43D5-B732-2D927478AFDA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:action}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>delete</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>726C988E-DE58-4C3C-BC39-BBAEED541D7B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>list_name</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>CD6DC76D-10DE-4799-85AF-82A857A7A776</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Type to add</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>602339E1-A9AF-441A-8166-C8090D994675</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>require "#{Dir.pwd}/useclear_functions.rb"

trash_list(ARGV[0])</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>65FDABDE-2353-40F0-AE91-9E03B6128789</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>require "#{Dir.pwd}/useclear_functions.rb"

add_to_list(ENV['list_name'], ENV['position'], ARGV[0])</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8BA754B9-49E0-4677-9955-0849C33BD566</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:action}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>delete</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>1B8C4472-9271-459C-95F8-A7804A553C94</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:action}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>delete</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>72C34EA8-1B15-4CFE-AE5A-C62FB1AA4D55</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Work with [Clear](http://impending.com/) lists from macOS.

To save a list from the iOS app, take a screenshot and tap the text. Save it as a text file or copy it to the clipboard.

To make a new list, either use the `Add as Clear list` File Action on a `.txt` or run `cadd` to get the copied list.

To view your lists run `clist`.

![](https://i.imgur.com/bajD0oX.png)

↵ drills further into the list, while ⌥↵ deletes it. When inside a list, ⌥↵ deletes the selected item, fn↵ asks you for an item to add above the selection and ⌃↵ to add below.</string>
	<key>uidata</key>
	<dict>
		<key>1B8C4472-9271-459C-95F8-A7804A553C94</key>
		<dict>
			<key>xpos</key>
			<integer>610</integer>
			<key>ypos</key>
			<integer>480</integer>
		</dict>
		<key>1BE15640-11CA-4008-8DF8-A553E788486F</key>
		<dict>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>28560F2D-FE36-43D5-B732-2D927478AFDA</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
		<key>602339E1-A9AF-441A-8166-C8090D994675</key>
		<dict>
			<key>xpos</key>
			<integer>690</integer>
			<key>ypos</key>
			<integer>450</integer>
		</dict>
		<key>65FDABDE-2353-40F0-AE91-9E03B6128789</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>450</integer>
		</dict>
		<key>726C988E-DE58-4C3C-BC39-BBAEED541D7B</key>
		<dict>
			<key>xpos</key>
			<integer>610</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
		<key>72C34EA8-1B15-4CFE-AE5A-C62FB1AA4D55</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>480</integer>
		</dict>
		<key>8BA754B9-49E0-4677-9955-0849C33BD566</key>
		<dict>
			<key>xpos</key>
			<integer>890</integer>
			<key>ypos</key>
			<integer>450</integer>
		</dict>
		<key>91ADC315-DD75-4B90-B6E7-A8E6BAAD0013</key>
		<dict>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>948702E1-8614-456F-AE40-93FD8AA99094</key>
		<dict>
			<key>xpos</key>
			<integer>690</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>9E329E2C-A574-4B8B-84FB-8B861F9273F1</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>B81F57B4-9C53-4127-A977-372774C9FA16</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>BC5FB417-B8D7-4257-88B8-BD5F270FF1ED</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>CD6DC76D-10DE-4799-85AF-82A857A7A776</key>
		<dict>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
		<key>DA40D015-AAC5-4812-9D2F-EB07C8E0F436</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>F248B066-17F0-42EE-8A40-AC899C1F2B4D</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://vitorgalvao.com/</string>
</dict>
</plist>
